CompilationDatabase: "build"

CompileFlags:
  Add:
    - "-std=c++20"
    - "-I/usr/local/cuda/include"
    - "-I${workspaceFolder}/include"

---
If:
  PathMatch: .*\.(cu|cuh|hpp)$
CompileFlags:
  Add:
    - "-xcuda"
    - "--cuda-gpu-arch=sm_89"
    - "--cuda-path=/usr/local/cuda"